# LRGEX Project .gitignore
# Ignore everything except the main script

# Ignore everything by default
*

# Allow only the main script
!folder-sync.ps1

# Allow documentation
!README.md

# Allow this gitignore file
!.gitignore
